{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row shuffle-wrapper">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{.Params.image | absURL }}" alt="" class="img-fluid rounded w-100 d-block">
          
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

<section class="section bg-light">
  <div class="container">
    {{ partial "client-slider.html" . }}
  </div>
</section>

{{ end }}